<!--footer.ejs YUN KI JUNG - 301189435 - Oct 01, 2022 -->

<nav class="navbar fixed-bottom bg-dark">
  <div class="container-fluid">
    <h5 id="copyright">&copy; COPYRIGHT © 2022 - YUN KI JUNG</h5>
  </div>
</nav>