<!--about.ejs YUN KI JUNG - 301189435 - Oct 01, 2022 -->

<div class="container-fluid">
    <div class="col-12 about-image1-div">
        <h1>YUN KI JUNG</h1>
        <h2 onclick="location.href='/resume'">Click Here For Resume!</h2>
        <img id="my-image2" src="./content/images/myphoto2.png" alt="my-image2" onclick="location.href='/resume'">
    </div>
    <div class="col-12 about-image2-div">
        <div class="about-para">
            Hi! I'm a full stack web developer from South Korea.
            I'm currently studying Software Engineering at Centennial College.
            I have a year of working experience based on Java(Spring) in Korea as full stack developer, so
            please feel free to contact me anytime if you have any vacancy position of
            web developer.
        </div>
    </div>

</div>