<!--home.ejs YUN KI JUNG - 301189435 - Oct 01, 2022 -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 main-image-div">
            <h1>WEB DEVELOPER</h1>
        </div>
        <div class="col-12">
            <img id="my-image" src="./content/images/myphoto.png" alt="my-image" onclick="location.href='/about'"></img>
        </div>
        <div class="col-12 main-image2-div">
            <h1>YUN KI JUNG</h1>
            <div class="p1">Creative, Passionate Full Stack Developer</div>
            <div class="p2">AWS - Route53, S3, Lambda, API Gateway, EC2</div>
            <div class="p3">Skills - ExpressJS(Node.js), Spring(Java), React, Vue.js(javascript)</div>
            <div class="p4">Database - Oracle, MSSQL, MongoDB</div>
        </div>
        <div class="col-12 computer-image-div">
            
        </div>
        <div class="col-12">
            
        </div>
    </div>
</div>